<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Google Icon Fonts used by Materialize -->
    <link href="https://fonts.googleapis.com/css?family=Lobster&display=swap" rel="stylesheet">
    <!-- Materialize CSS Framework -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!-- JavaScript for Materialize -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <link rel='stylesheet' href='/stylesheets/main.css' />
    <title>crazyPlant</title>
</head>
<body>
    <div class="navbar-fixed">
        <nav>
          <div class="nav-wrapper">
            <a href="" class="brand-logo center">crazyPlant</a>

            <ul class="right">
              <li>
                <% if (user) { %>
                    <a href="/logout"><i class="material-icons left"></i>Log Out</a>
                <% } else { %>
                    <a href="/auth/google"><i class="material-icons left"></i>Login with Google</a>
                <% } %>
              </li>
            </ul>
    <a href="/plants/new" <%- title === 'Add Plant' ? 'class="active"' : '' %>>Add Plant</a>
    <a href="/plants" <%- title === 'All Plants' ? 'class="active"' : '' %>> All Plants</a>
        </div>
        </nav>
      </div>