body {
  /* background-image: url(https://i.imgur.com/V9XYNU5h.jpg); */
  
  background-position: fixed;
  font-size: 50px;
  color: #ee6e73;
  font-family: 'Lobster', cursive;
}

h1 {
  font-size: 100px;
  color: #ee6e73;
  font-family: 'Lobster', cursive;
  text-align: center;
}

body::after {
  content: "";
  background: url(https://i.imgur.com/V9XYNU5h.jpg);
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: fixed;
  z-index: -1;   
}

label {
  color: #ee6e73;
  font-size: 50px;
}

input {
  border-radius: 55px;
  color: #ee6e73;
  font-family: 'Lobster', cursive;
  text-align: center;
  margin-top: -75px;
}

.container {
  text-align: center;
}

img {
  border-radius: 50px;
}

textarea {
  color: black;
  font-size: 40px;
  font-family: 'Lobster', cursive;
  margin-top: -20px;
  
}

value {
  color: black;
  font-size: 40px;
  font-family: 'Lobster', cursive;
  margin-top: -20px;

}

