body {
  font-family: sans-serif;
}
.brand-logo {
  margin-left: 15px;
}

.card .card-content .card-title {
  margin-bottom: 10px;
}

#search-row form {
  padding-top: 20px;
}

.plant-name {
  position: relative;
  top: -5px;
}