<%- include('../partials/header') %>

<h1>Welcome To crazyPlant!</h1>
<div class="container">
<img src="https://i.imgur.com/bcC4EK1l.jpg">
<img src="https://i.imgur.com/1zSZlbKl.jpg">
<img src="https://i.imgur.com/xmMuKs0l.jpg">
<img src="https://i.imgur.com/42sLxWzl.jpg">
<img src="https://i.imgur.com/wRqbzA6l.jpg">
<img src="https://i.imgur.com/yGKlg3ql.jpg">
</div>

  
<%- include('../partials/footer') %>