<%- include('../partials/header') %>

<form id="new-form" action="/plants" method="POST">
  <label>Plant Name:</label>
  <input type="text" name="plantName">
  <br>
  <label>Add Type of Lighting:</label>
  <input type="text" name="lighting"><br>
  <br>
  <label>Add Type of Environment:</label>
  <input type="text" name="environment">
  <br>
  <input type="submit" value="Add Plant">
</form>

<%- include('../partials/footer') %>
